
/*CSS Style Document*/

p {
	color: red;
}

#bigpic {
	height: 200px;
	width: 300px;
}

img {
	height: 400px;
	width: 600px;
}

ul {
	list-style-type: square;
	background-color: yellow;
}

h1 {
	font-family: "Helvetica Neue", sans-serif;
}

#notred {
	color: black;
}

blockquote {
	font-family: "Helvetica Neue", sans-serif;
	font-variant: lighter;
	color: blue;
}